.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.gameArea {
	position: relative;
}

.pathCanvas,.playerCanvas {
	position: absolute;
}

.playerCanvas {
	border: 1px dashed greenyellow;
}

.pathCanvas {
  border: 1px dashed rebeccapurple;
}